{% extends "index.html" %}
{% block content %}

<div class="container-fluid cx mt-2 pb-5" style="min-height: 380px;">
    <div class="col-md-12 mx-auto pt-4 bt">
        <h4 class="text-center font-weight-bold pb-3">View Patients</h4>

        <table class="table table-striped">
            <thead>
                <tr class="border table-dark">
                    <th class="border text-primary">Patient ID</th>
                    <th class="border text-primary">Name</th>
                    <th class="border text-primary">Age</th>
                    <th class="border text-primary text-center">Address</th>
                    <th class="border text-primary">DOJ</th>
                    <th class="border text-primary">Type of Room</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for i in data %}
                {%if i['status']=='Active'%}
                <tr class="border">
                    <td class="border">{{i['id']}}</td>
                    <td class="border">{{i['name']}}</td>
                    <td class="border">{{i['age']}}</td>
                    <td class="border text-center">{{i['address']}}</td>
                    <td class="border">{{i['adm_date']}}</td>
                    <td class="border">{{i['bed_type']}}</td>
                </tr>
                {%endif%}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class=" mx-auto btn btn-primary">
            <a href="{{url_for('view_pat')}}" class="text-white">Refresh the List</a>
        </div>
    </div>
</div>
{% endblock %}

</html>