li{
    list-style: none;
    float: left;
}
.right{
    float: right;
}
.btn1{
background-color: rgb(43, 80, 136);
}
.cx{
    background-color: #F6F6F7;
}
footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
  }
  
  footer .copyright {
    margin-bottom: .3rem;
  }
  
  footer .credits {
    margin-bottom: 0;
  }
  
  footer .credits a {
    color: #fff;
  }